service\logs\app.log
dao-api/target/
dao-jdbc-impl/target/
service/target/
web/target/
web/.settings/org.eclipse.wst.validation.prefs
web/.settings/org.eclipse.wst.jsdt.ui.superType.name
web/.settings/org.eclipse.wst.jsdt.ui.superType.container
web/.settings/org.eclipse.wst.common.project.facet.core.xml
web/.settings/org.eclipse.wst.common.component
web/.settings/org.eclipse.m2e.core.prefs
web/.settings/org.eclipse.jdt.core.prefs
web/.settings/org.eclipse.core.resources.prefs
web/.settings/.jsdtscope
web/.project
web/.classpath
service/.settings/org.eclipse.wst.common.project.facet.core.xml
service/.settings/org.eclipse.wst.common.component
service/.settings/org.eclipse.m2e.core.prefs
service/.settings/org.eclipse.jdt.core.prefs
service/.settings/org.eclipse.core.resources.prefs
service/.project
service/.classpath
dao-jdbc-impl/.settings/org.eclipse.wst.common.project.facet.core.xml
dao-jdbc-impl/.settings/org.eclipse.wst.common.component
dao-jdbc-impl/.settings/org.eclipse.m2e.core.prefs
dao-jdbc-impl/.settings/org.eclipse.jdt.core.prefs
dao-jdbc-impl/.settings/org.eclipse.core.resources.prefs
dao-jdbc-impl/.project
dao-jdbc-impl/.classpath
dao-api/.settings/org.eclipse.wst.common.project.facet.core.xml
dao-api/.settings/org.eclipse.wst.common.component
dao-api/.settings/org.eclipse.m2e.core.prefs
dao-api/.settings/org.eclipse.jdt.core.prefs
dao-api/.settings/org.eclipse.core.resources.prefs
dao-api/.project
dao-api/.classpath
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
.project
service/logs/app.log
service/logs/2019-06/app-06-29-2019-1.log.gz
service/logs/2019-06/app-06-28-2019-1.log.gz
service/logs/
web/logs/
