@import
	url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

*, *:before, *:after {
	transition: .3s linear
}

@media ( min-width : 1200px) {
	.container {
		max-width: 1680px;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url(fon1.jpg);
	background-attachment: fixed;
	/* 	background-color: #f2f2ee; */
	filter: drop-shadow(2px 4px 6px black);
}

main {
	flex: 1 0 auto;
}

.navbar-dark .navbar-nav .nav-link {
	font-family: fantasy;
	color: rgba(#00ffff, .1);
	color: yellowgreen;
	font-size: x-large;
	-webkit-text-stroke: 1px black;
}

.navbar-dark .navbar-text {
	color: deepskyblue;
}

.listGames {
	color: #fff;
	background-color: #12487d;
	margin-bottom: 0;
}

.listChat {
	margin-bottom: 0;
	width: 100%;
	background-color: steelblue;
}

.navbar {
	background-image: url(universe-1566159_1920.jpg);
}

.chatOut {
	margin-top: 5%;
}

.chatIn {
	text-align-last: end;
	text-decoration: underline;
}

.mb-2, .my-2 {
	margin-bottom: 0px !important;
	border-left: solid;
	border-bottom: inset;
}

.textIn {
	background-color: lavender;
}

.chatOver {
	height: 400px;
	margin-top: 5%;
	border-radius: 5px;
}

.gamesOver {
	height: 695px;
	margin-top: 5%;
	border-radius: 5px;
}

.rounded-pill {
	position: absolute;
    left: 140px;
    top: 200px;
    width: 900px;
    height: 500px;
    border-radius: 50rem !important;
    border: solid;
    border-width: 17px;
    border-color: saddlebrown;
}

.img-thumbnail {
	width: 75px;
	background-color: lavender;
}

.navbar-text {
	margin-bottom: -20px;
}

.addnews {
	margin-left: 80%;
	margin-top: 2%;
}

.fas {
	height: 20px;
}

.rules {
	background-color: #f2f2ee;
	padding-top: 20px;
}

.login-form {
	margin-top: 5%;
	background-color: #343a40;
	border-radius: 10px;
	padding-bottom: 14px;
	color: aquamarine;
	box-shadow: 0 0 10px 4px black;
}

.registration-form {
	margin-top: 5%;
	background-color: #343a40;
	border-radius: 10px;
	padding-bottom: 14px;
	color: aquamarine;
	box-shadow: 0 0 10px 4px black;
}

.page-footer {
	background-color: #343a40;
}

.pageNews {
	background: #f2f2ee;
}

.ptext {
	font-size: x-large;
	font-family: fantasy;
	color: yellowgreen;
	-webkit-text-stroke: 1px black;
}

.personAreaSet {
	margin-top: 25px;
}

.personalAreadata {
	margin-top: -685px;
	margin-left: 100px;
	font-family: inherit;
	font-size: x-large;
	color: darkslateblue;
}

.odometer {
	font-size: 80px;
    margin-top: 34%;
    margin-left: 36%;
}

.rollspades {
    margin-left: auto;
    width: 720px;
    height: 480px;
    background-image: url(spadesroll.png);
    background-repeat: round;
    padding: 8%;
}

.btnroll {
	margin-left: 5%;
    margin-top: -24%;
}

.proll {
	font-family: fantasy;
    font-size: x-large;
    color: slategray;
}

.dopInfo {
	margin-top: 340px;
	margin-left: 100px;
    font-family: inherit;
    font-size: x-large;
    color: darkslateblue;
}

.player1 {
    position: absolute;
    left: 415px;
    top: 650px;
    width: 100px;
}

.player2 {
	position: absolute;
    left: 215px;
    top: 600px;
    width: 100px;
}

.player10 {
	width: 100px;
    position: absolute;
    left: 680px;
    top: 650px;
}

.player9 {
	width: 100px;
    position: absolute;
    top: 600px;
    left: 865px;
}

.player3 {
	width: 100px;
    position: absolute;
    top: 385px;
    left: 102px;
}

.player8 {
	width: 100px;
    position: absolute;
    top: 385px;
    left: 985px;
}

.player4 {
	position: absolute;
    left: 215px;
    top: 200px;
    width: 100px;
}

.player5 {
	position: absolute;
    left: 415px;
    top: 155px;
    width: 100px;
}

.player6 {
	width: 100px;
    position: absolute;
    left: 680px;
    top: 155px;
}

.player7 {
	width: 100px;
    position: absolute;
    top: 200px;
    left: 865px;
}

.btnCheck {
	position: absolute;
	left: 500px;
    top: 795px;
}

.btnCall {
	position: absolute;
	left: 610px;
    top: 795px;
}

.btnRaise {
	position: absolute;
	left: 700px;
    top: 795px;
}

a:hover {
	text-decoration: underline;
	text-shadow: (2px 4px 6px black);
	color: white;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.updBtn {
	background-color: aquamarine;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}