body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	/* 	background-image: url(fon-poker.png); */
	/* 	background-size: cover; */
	/* 	background-color: 008B45; */
	background: radial-gradient(#008080, #125252);
}

main {
	flex: 1 0 auto;
}

.img-thumbnail {
	width: 75px;
}

.navbar-text {
	margin-bottom: -20px;
}

.addnews {
	margin-left: 80%;
	margin-top: 2%;
}

.fas {
	height: 20px;
}

/* html * { */
/* 	font-family: Franklin Gothic Medium; */
/* 	color: white !important; */
/* } */
a:hover {
	text-decoration: underline;
	text-shadow: (2px 4px 6px black);
	color: white;
}

/* @media screen and (max-width:1280px) { */
/* 	.user-data { */
/* 		display: none; */
/* 	} */
/* } */

/* .right { */
/* 	color: red; */
/* } */

/* .user-data { */
/* 	float: right; */
/* } */

/* .user-data li { */
/* 	float: initial; */
/* } */

/* .id-data { */
/* 	margin-top: -115px; */
/* 	margin-left: -125px; */
/* } */

/* .name-data { */
/* 	margin-top: -47px; */
/* 	margin-left: -125px; */
/* } */

/* .role-data { */
/* 	margin-top: -47px; */
/* 	margin-left: -125px; */
/* } */

/* .logout-data { */
/* 	margin-top: -26px; */
/* 	margin-left: 28px; */
/* } */

/* .dropdown-content { */
/* 	background-color: #176969; */
/* } */

/* .sidenav { */
/* 	background-color: #125252; */
/* } */

/* .imglogo { */
/* 	height: 115px; */
/* 	margin-top: -18%; */
/* } */

/* .navheader { */
/* 	background-color: transparent; */
/* 	height: 72px; */
/* 	border-bottom-style: groove; */
/* 	border-bottom-color: black; */
/* 	filter: drop-shadow(2px 4px 6px black); */
/* } */

/* .page-footer { */
/* 	background-color: transparent; */
/* } */
.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}