body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url(fon-site.jpg);
/* 	color: white; */
}

main {
	flex: 1 0 auto;
}

html * {
	color: white !important;
}


.navheader {
	background-image: url(fon-header2.png);
	background-color: transparent;
	background-size: cover;
}

.page-footer {
	background-image: url(fon-footer.png);
	padding-top: 0px;
	background-size: cover;
}

.imglogo {
	height: 100px;
	margin-top: -17%;
}


.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}