@import url('https://fonts.googleapis.com/css?family=Alegreya+SC&display=swap');

@media ( min-width : 1200px) {
	.container {
		max-width: 1680px;
	}
}

body {
	font-family: 'Alegreya SC', serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url(grey-plaster.png);
	background-attachment: fixed;
	filter: drop-shadow(2px 4px 6px black);
}

main {
	flex: 1 0 auto;
}

.navbar-dark .navbar-nav .nav-link {
	color: white;
}

.navbar-dark .navbar-text {
	color: deepskyblue;
}

.listGames {
	color: #fff;
	background-color: #12487d;
	margin-bottom: 0;
}

.listChat {
	margin-bottom: 0;
	width: 100%;
	background-color: steelblue;
}

.navbar {
	background-color: midnightblue;
/* 	background: radial-gradient(blue, midnightblue); */
}

.chatOut {
	margin-top: 5%;
}

.chatIn {
	text-align-last: end;
	text-decoration: underline;
}

.mb-2, .my-2 {
	margin-bottom: 0px !important;
	border-left: solid;
	border-bottom: inset;
}

.textIn {
	background-color: lavender;
}

.chatOver {
	height: 400px;
	border-radius: 5px;
	overflow-x: hidden;
}

.gamesOver {
	height: 695px;
	border-radius: 5px;
}

.rounded-pill {
	position: absolute;
	left: 140px;
	top: 200px;
	width: 900px;
	height: 500px;
	border-radius: 50rem !important;
	border: solid;
	border-width: 17px;
	border-color: saddlebrown;
}

.img-thumbnail {
	width: 75px;
	background-color: lavender;
}

.navbar-text {
	margin-bottom: -20px;
}

.addnews {
	margin-left: 80%;
	margin-top: 2%;
}

.rules {
	background-color: #f2f2ee;
	padding-top: 20px;
}

.login-form {
	margin-top: 5%;
	background-color: #343a40;
	border-radius: 10px;
	padding-bottom: 14px;
	color: aquamarine;
	box-shadow: 0 0 10px 4px black;
}

.registration-form {
	margin-top: 5%;
	background-color: #343a40;
	border-radius: 10px;
	padding-bottom: 14px;
	color: aquamarine;
	box-shadow: 0 0 10px 4px black;
}

.page-footer {
	background-color: midnightblue;
	margin-top: 5%;
	color: white;
}

.pageNews {
	background: #f2f2ee;
}

.ptext {
	margin-top: 5%;
	font-size: x-large;
	color: yellowgreen;
}

.personAreaSet {
	margin-top: 25px;
}

.personalAreadata {
	margin-top: -685px;
	margin-left: 100px;
	font-family: inherit;
	font-size: x-large;
	color: darkslateblue;
}

.odometer {
	font-size: 80px;
	margin-top: 34%;
	margin-left: 36%;
}

.rollspades {
	margin-left: auto;
	width: 720px;
	height: 480px;
	background-image: url(spadesroll.png);
	background-repeat: round;
	padding: 8%;
}

.proll {
	font-family: fantasy;
	font-size: x-large;
	color: slategray;
}

.dopInfo {
	margin-top: 275px;
	margin-left: 40px;
	font-family: inherit;
	font-size: x-large;
	color: darkslateblue;
}

.player1 {
	position: absolute;
	left: 415px;
	top: 650px;
	width: 75px;
}

.player2 {
	position: absolute;
	left: 215px;
	top: 600px;
	width: 75px;
}

.player10 {
	width: 75px;
	position: absolute;
	left: 680px;
	top: 650px;
}

.player9 {
	width: 75px;
	position: absolute;
	top: 600px;
	left: 865px;
}

.player3 {
	width: 75px;
	position: absolute;
	top: 385px;
	left: 102px;
}

.player8 {
	width: 75px;
	position: absolute;
	top: 385px;
	left: 985px;
}

.player4 {
	position: absolute;
	left: 215px;
	top: 200px;
	width: 75px;
}

.player5 {
	position: absolute;
	left: 415px;
	top: 155px;
	width: 75px;
}

.player6 {
	width: 75px;
	position: absolute;
	left: 680px;
	top: 155px;
}

.player7 {
	width: 75px;
	position: absolute;
	top: 200px;
	left: 865px;
}

.btnCheck {
	position: absolute;
	left: 500px;
	top: 795px;
}

.btnCall {
	position: absolute;
	left: 625px;
	top: 795px;
}

.btnRaise {
	position: absolute;
	left: 724px;
	top: 795px;
}

.formForRaise {
	position: absolute;
	left: 831px;
	top: 795px;
	width: 175px;
}

.card1 {
	background-color: transparent;
    position: absolute;
    left: 746px;
    top: 300px;
    width: 100px;
}

.card2 {
	background-color: transparent;
    position: absolute;
    left: 639px;
    top: 300px;
    width: 100px;
}

.card3 {
	background-color: transparent;
    position: absolute;
    left: 532px;
    top: 300px;
    width: 100px;
}

.card4 {
	background-color: transparent;
    position: absolute;
    left: 425px;
    top: 300px;
    width: 100px;
	
}

.card5 {
	background-color: transparent;
    position: absolute;
    left: 318px;
    top: 300px;
    width: 100px;
}

.fa-piggy-bank {
	position: absolute;
    left: 500px;
    top: 445px;
    color: azure;
}

.shirt1 {
	position: absolute;
    left: 490px;
    top: 648px;
}

.shirt2 {
	position: absolute;
    left: 290px;
    top: 598px;
}

.shirt3 {
	position: absolute;
    left: 177px;
    top: 383px;
}

.shirt4 {
	position: absolute;
    left: 290px;
    top: 198px;
}

.shirt5 {
	position: absolute;
    left: 490px;
    top: 153px;
}

.shirt6 {
	position: absolute;
    left: 755px;
    top: 153px;
}

.shirt7 {
	position: absolute;
    left: 940px;
    top: 198px;
}

.shirt8 {
	position: absolute;
    left: 1060px;
    top: 383px;
}

.shirt9 {
	position: absolute;
    left: 940px;
    top: 598px;
}

.shirt10 {
	position: absolute;
    left: 755px;
    top: 648px;
}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.updBtn {
	background-color: aquamarine;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}