body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url(fon-site.png);
	background-size: cover;
}

main {
	flex: 1 0 auto;
}

html * {
	color: white !important;
}

/* .dropdown-content { */
/* 	background-color: #400040; */
/* } */

.sidenav {
	background-color: #400000;
}

/* .navheader { */
/* 	background-image: url(fon-header2.png); */
/* 	background-size: cover; */
/* } */

.imglogo {
	height: 200px;
	margin-top: -18%;
}

.navheader {
	background-color: #000080;
	height: 125px;
}

.page-footer {
	background-color: #000080;
}

}

.input-field label.multiselect-label, .input-field label.switch-label {
	position: absolute;
	top: -26px;
	font-size: .8rem;
}

.switch label input[type=checkbox]:checked ~.lever {
	background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}

.switch label input[type=checkbox]:checked ~.lever:after {
	background-color: #26a69a;
}

.switch label input[type=checkbox]:checked ~.lever:before, .switch label input[type=checkbox]:checked
    ~.lever:after {
	left: 18px;
}